[submodule "tgoskits"]
	path = tgoskits
	url = https://github.com/yks23/tgoskits.git
	branch = selfhost-m5
[submodule "test-cases/oscomp/testsuits"]
	path = test-cases/oscomp/testsuits
	url = git@github.com:oscomp/testsuits-for-oskernel.git
[submodule "test-cases/oscomp/autotest"]
	path = test-cases/oscomp/autotest
	url = git@github.com:oscomp/autotest-for-oskernel.git
[submodule "test-cases/linux-compat"]
	path = test-cases/linux-compat
	url = git@github.com:rcore-os/linux-compatible-testsuit.git
